<div class="container">
    <h4 style="color: #4E6C50">Data Telur</h4>
    <hr>
    <ul class="list-group my-2">
        <!-- <% data.forEach(telur=> { %> data dari controller sendData -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3">
                        <small class="text-warning">Jenis Telur</small> <br />
                        <%= telur.jenis_telur %> 
                    </div>

                    <div class="col-lg-3">
                        <small class="text-warning">Stok</small> <br />
                        <%= telur.stok %> kg
                    </div>

                    <div class="col-lg-3">
                        <small class="text-warning">Harga</small> <br />
                        Rp <%= telur.harga %>

                    </div>

                    <div class="col-lg-3">
                        <small class="text-warning">Action</small> <br />

                        <!-- button edit -->
                        <a href="/telur/edit/<%= telur.id %>">
                            <button class="btn btn-sm" style="background-color: #BABD42">
                                Edit
                            </button>
                        </a>

                        <!-- button delete -->
                        <a href="/telur/delete/<%= telur.id %>"
                            onclick="return confirm(`Apakah Anda yakin ingin menghapus data ini?`)">
                            <button class="btn btn-sm btn-danger">
                                Hapus
                            </button>
                        </a>

                    </div>
                </div>
            </li>
            <% }) %>
    </ul>

    <!-- button add new data -->
    <a href="/telur/add">
        <button class="btn btn-md text-light" style="background-color: #82954B;">
            Tambah Data
        </button>
    </a>

</div>