<div class="container">
    <h3 style="color: #4E6C50;">List Transaksi</h3>
    <hr>

    <ul class="list-group">
        <% transaksi.forEach(element=> { %>
            <li class="list-group-item">
                <div class="row">
                    <!-- area tgl transaksi -->
                    <div class="col-lg-5    ">
                        <small>Tgl. Transaksi</small>
                        <h6>
                            <%= element.tgl_transaksi %>
                        </h6>
                    </div>

                    <!-- area nama member -->
                    <div class="col-lg-3">
                        <small>Nama Member</small>
                        <h6>
                            <%= element.nama_member %>
                        </h6>
                    </div>

                    <!-- area nama admin -->
                    <div class="col-lg-3">
                        <small>Nama Admin</small>
                        <h6>
                            <%= element.nama_admin%>
                        </h6>
                    </div>

                    <!-- tombol hapus -->
                    <div class="col-lg-1">
                        <a href="/transaksi/<%= element.id %>">
                            <button class="btn btn-sm btn-danger">
                                &times;
                            </button>
                        </a>
                    </div>
                </div>
                <h5 class="mt-2">Daftar Pembelian</h5>
                <ul class="list-group">
                    <% element.detail.forEach(item=> { %>
                        <li class="list-group-item">
                            <div class="row">
                                <!-- area utk jenis_telur-->
                                <div class="col-lg-3">
                                    <small class="text-warning">Jenis Telur</small>
                                    <h6 class="fst-italic">
                                        <%= item.jenis_telur %>
                                    </h6>
                                </div>

                                <!-- area utk jumlah beli-->
                                <div class="col-lg-3">
                                    <small class="text-warning">Kuantitas</small>
                                    <h6 class="fst-italic">
                                        <%= item.jumlah_telur %>
                                    </h6>
                                </div>

                                <!-- area utk harga-->
                                <div class="col-lg-4">
                                    <small class="text-warning">Harga/Kg</small>
                                    <h6 class="fst-italic">
                                        <%= item.harga_telur %>
                                    </h6>
                                </div>                            
                                <br>

                                 <!-- area utk nama_pack-->
                                 <div class="col-lg-3">
                                    <small class="text-warning">Jenis Packaging</small>
                                    <h6 class="fst-italic">
                                        <%= item.nama_pack %>
                                    </h6>
                                </div>

                                <!-- area utk jumlah pack-->
                                <div class="col-lg-3">
                                    <small class="text-warning">Kuantitas</small>
                                    <h6 class="fst-italic">
                                        <%= item.jumlah_pack %>
                                    </h6>
                                </div>

                                <!-- area utk harga-->
                                <div class="col-lg-3">
                                    <small class="text-warning">Harga Satuan Pack</small>
                                    <h6 class="fst-italic">
                                        <%= item.harga_pack %>
                                    </h6>
                                </div>

                                <!-- area utk total semua-->
                                <div class="col-lg-3">
                                    <small class="text-warning">Total Pembelian</small>
                                    <h6 class="fst-italic">
                                        <%= Number(item.jumlah_telur * item.harga_telur + item.jumlah_pack * item.harga_pack ) %>
                                    </h6>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                </ul>

            </li>
            <% }) %>
    </ul>
</div>